<div class="container-fluid">
  <div class="d-flex flex-column align-items-center">

    <div class="w-50 mt-5 d-flex justify-content-start">
      <button class="btn btn-secondary" (click)="toggleEditMode()">
        {{editMode ? 'Click to View' : 'Click to Edit'}}
      </button>
    </div>

    <div class="w-50 my-5">
      <form [formGroup]="userUpdateForm" (ngSubmit)="userUpdateForm.valid && onSubmit()">
        <div class="mb-3">
          <label for="userNameInput" class="form-label">UserName</label>
          <input type="text" class="form-control" id="userNameInput" formControlName="userUserName"
            [readonly]="!editMode" />
        </div>
        <div class="mb-3">
          <label for="aliasInput" class="form-label">Alias</label>
          <input type="text" class="form-control" id="aliasInput" formControlName="userAlias" [readonly]="!editMode" />
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email</label>
          <input type="email" class="form-control" id="emailInput" formControlName="userEmail" readonly />
        </div>
        <div class="mb-3" *ngIf="editMode">
          <label for="newEmailInput" class="form-label">New Email (Leave empty if not changing email)</label>
          <input type="email" class="form-control" id="newEmailInput" formControlName="userNewEmail"
            [readonly]="!editMode" />
        </div>
        <div class="mb-3" *ngIf="editMode">
          <label for="passwordInput" class="form-label">Password (Required for update of any user details)</label>
          <input type="password" class="form-control" id="passwordInput" formControlName="userPassword"
            [readonly]="!editMode" />
          <p *ngIf="userUpdateForm.get('userPassword')?.hasError('required') && userUpdateForm.get('userPassword')?.touched" class="invalid-feedback">Password is required.</p>
        </div>
        <div class="mb-3" *ngIf="editMode">
          <label for="newPasswordInput" class="form-label">New Password (Leave empty if not changing password)</label>
          <input type="password" class="form-control" id="newPasswordInput" formControlName="userNewPassword"
            [readonly]="!editMode" />
        </div>
        <div class="mb-3" *ngIf="editMode">
          <label for="newPasswordConfirmInput" class="form-label">Confirm New Password (Leave empty if not changing password)</label>
          <input type="password" class="form-control" id="newPasswordConfirmInput" formControlName="userNewConfirmPassword"
            [readonly]="!editMode" />
          <p *ngIf="userUpdateForm.hasError('formGroupPasswordMatchConfirm') && userUpdateForm.get('userNewConfirmPassword')?.touched" class="invalid-feedback">New password must match confirmation new password.</p>
        </div>
        <div class="row" *ngIf="validationErrors.length > 0">
          <ul class="invalid-feedback">
            <li *ngFor="let error of validationErrors">
              {{ error }}
            </li>
          </ul>
        </div>

        <div class="d-flex justify-content-end mt-5" *ngIf="editMode">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2" [attr.disabled]="busyStatusUpdate === true ? '' : (userUpdateForm.valid === false ? '' : null)">
              <span *ngIf="busyStatusUpdate === true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="busyStatusUpdate === true" class="visually-hidden">Loading...</span>
              <svg *ngIf="busyStatusUpdate === false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
              Update
            </button>
            <button type="button" (click)="openModal(template)" class="btn btn-danger" [attr.disabled]="busyStatusDelete === true ? '' : null">
              <span *ngIf="busyStatusDelete === true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="busyStatusDelete === true" class="visually-hidden">Loading...</span>
              <svg *ngIf="busyStatusDelete === false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Do you really want to delete this user (i.e. this account)? This action cannot be undone. Type "dEleTe m*E" to confirm:
  </div>
  <div class="px-5">
    <input type="text" [formControl]="confirmDeleteInput" />
  </div>
  <div class="d-flex justify-content-end">
    <div class="my-3">
      <button type="button" class="btn btn-outline-secondary" (click)="modalRef?.hide()">Cancel</button>
      <button type="button" class="btn btn-danger ms-2 me-3" (click)="deleteUser(); modalRef?.hide();">Delete</button>
    </div>
  </div>
</ng-template>