/* You can add global styles to this file, and also import other style files */
/*
    font-family: 'Caramel', cursive;
    font-family: 'Kalam', cursive;
*/

body {
  font-family: 'Kalam', cursive;
  font-size: 1.25rem;
}

tabset > ul.nav-tabs > li.nav-item > a:not(.active).nav-link > span {
  color: lightgray;
}

.background-orange {
  background-color: #F80;
}

.font-caramel {
  font-family: 'Caramel';
}

.custom-small-font {
  font-size: 1.1rem;
}

.text-justify {
  text-align: justify;
}

.text-white {
  color: white;
}

.white-space-break-spaces {
  white-space: break-spaces;
}

@media all and (min-width: 768px) {
  .w-md-25 {
    width: 25%!important;
  }

  .w-md-50 {
    width: 50%!important;
  }

  .w-md-75 {
    width: 75%!important;
  }

  .w-md-100 {
    width: 100%!important;
  }
}

@media all and (min-width: 992px) {
  .w-lg-25 {
    width: 25%!important;
  }

  .w-lg-40 {
    width: 40%!important;
  }

  .w-lg-50 {
    width: 50%!important;
  }

  .w-lg-75 {
    width: 75%!important;
  }

  .w-lg-100 {
    width: 100%!important;
  }
}