<nav class="navbar navbar-expand-lg bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">PrimaryBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="w-100 navbar-nav d-flex justify-content-between">
        <div>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item" *ngIf="currentUser">
            <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
          </li>
          <li class="nav-item" *ngIf="currentUser">
            <a class="nav-link" routerLink="/user/details" routerLinkActive="active">Personal Details</a>
          </li>
        </div>
        <div>
          <li class="nav-item">
            <span class="nav-link">Welcome{{ currentUser ? ', ' + currentUser.alias + '!' : '! Please log in or register.' }}</span>
          </li>
          <button type="button" class="btn btn-secondary" *ngIf="this.currentUser !== null" (click)="logout()">Logout</button>
        </div>
      </ul>
    </div>
  </div>
</nav>